<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administracyjny - Komputronik Sklep Internetowy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Nawigacja -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Komputronik Admin</a>
</nav>

<!-- Treść strony -->
 <div class="container mt-4 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-9">
            <!-- Dodawanie przedmiotu -->
            <h4>Dodaj przedmiot</h4>
            <form th:action="@{/admin}" method="post">
                <div class="form-group">
                    <label for="nazwa">Nazwa przedmiotu:</label>
                    <input type="text" class="form-control" id="nazwa" name="name" placeholder="Wprowadź nazwę" required>
                </div>
                <div class="form-group">
                    <label for="opis">Opis przedmiotu:</label>
                    <textarea class="form-control" id="opis" rows="3" name="description" placeholder="Wprowadź opis" required></textarea>
                </div>
                <div class="form-group">
                    <label for="cena">Cena:</label>
                    <input type="number" class="form-control" id="cena" name="price" placeholder="Wprowadź cenę" required>
                </div>
                <div class="form-group">
                    <label for="opis">Obraz przedmiotu:</label>
                    <textarea class="form-control" id="imgUrl" name="imgUrl" rows="1" placeholder="Wprowadź adres obrazu" required></textarea>
                </div>
                <div class="form-group">
                    <label for="opis">Wprowadź kategorię:</label>
                    <select class="form-control" id="category" name="category" rows="1" placeholder="Wprowadź kategorię" required>
                        <option value="graphics card">graphics card</option>
                        <option value="processor">processor</option>
                        <option value="ram">ram</option>
                        <option value="disk">disk</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj przedmiot</button>
            </form>

            <!-- Tabela z istniejącymi produktami -->
            <h4 class="mt-4">Istniejące produkty</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <!-- Dynamiczne generowanie wierszy tabeli na podstawie danych z kontrolera -->
                <tr th:each="item : ${items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.price}"></td>
                    <td>
                        <!-- Dodaj przycisk do usuwania przedmiotu -->
                        <form th:action="@{'/admin/deleteItem/' + ${item.id}}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
 </div>

<!-- Stopka -->
<footer th:replace="fragments/footer::ShopFooter"></footer>

<!-- Skrypty Bootstrap (jQuery i Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
