/* Niestandardowe style dla menu nawigacyjnego */
.navbar {
    background-color: #007BFF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

/* Niestandardowe style dla stopki */
footer {
    background-color: #343a40;
    color: #fff;
}

/* Niestandardowe style dla kart produktów */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}
