<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komputronik Sklep Internetowy - Product Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!-- Nawigacja -->
<nav th:replace="fragments/header::ShopNav"></nav>

<!-- Treść strony -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <!-- Szczegóły produktu -->
            <div class="card">
                <img th:src="@{${product.imgUrl}}" class="card-img-top" style="width: 50%" alt="Product Image">
                <div class="card-body">
                    <h2 class="card-title" th:text="${product.name}"></h2>
                    <p class="card-text" th:text="${product.description}"></p>
                    <p class="card-text" th:text="${product.price} + 'zł'"></p>
                    <a th:href="@{'/add/' + ${product.id}}" class="btn btn-primary"><img src="/icons/pngegg.png" alt="basket" width="23px"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Formularz do dodania nowego Komentarza -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Dodaj Komentarz:</h3>
                    <form method="post" action="/addComment">
                        <input type="hidden" name="itemId" th:value="${product.id}" />
                        <div class="form-group">
                            <label for="username">Nazwa użytkownika:</label>
                            <input type="text" id="username" name="username" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="commentText">Treść komentarza:</label>
                            <textarea id="commentText" name="commentText" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rating">Ocena (1-5):</label>
                            <input type="number" id="rating" name="rating" class="form-control" min="1" max="5" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Dodaj Komentarz</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sekcja Komentarzy -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Komentarze:</h3>
                    <ul th:if="${product.comments}" class="list-group">
                        <li th:each="comment : ${product.comments}" class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${comment.username}"></h5>
                                <small th:text="${comment.rating + '/5'}"></small>
                            </div>
                            <p class="mb-1" th:text="${comment.text}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>


<!-- Stopka -->
<footer th:replace="fragments/footer::ShopFooter"></footer>

<!-- Skrypty Bootstrap (jQuery i Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
