<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komputronik Sklep Internetowy - Podsumowanie Zamówienia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Nawigacja -->
    <nav th:replace="fragments/header::ShopNav"></nav>

    <!-- Treść strony -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <!-- Podsumowanie zamówienia -->
                <h2>Podsumowanie Zamówienia</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Obraz</th>
                            <th>Nazwa Produktu</th>
                            <th>Ilość</th>
                            <th>Cena Jednostkowa</th>
                            <th>Suma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cartItem : ${@cart.cartItems}">
                            <td style="width: 50px"><img th:src="@{${cartItem.item.imgUrl}}" style="width: 100%" alt="Produkt"></td>
                            <td th:text="${cartItem.item.name}"></td>
                            <td ><p th:text="${cartItem.counter}"></p></td>
                            <td th:text="${cartItem.price}"></td>
                            <td th:text="${cartItem.getPrice()}"></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Łączna kwota do zapłaty -->
                <div class="total-amount">
                    <h4>Łączna kwota do zapłaty: <span th:text="${@cart.sum}"></span> zł</h4>
                </div>

                <br>

                <!-- Formularz do wprowadzania danych dla zamówienia -->
                <h4>Wprowadź dane do zamówienia:</h4>
                <form method="post" th:action="@{/order/saveorder}">
                    <div class="form-group">
                        <label>Imię:</label>
                        <input type="text" class="form-control" name="firstName" required>
                    </div>
                    <div class="form-group">
                        <label>Nazwisko:</label>
                        <input type="text" class="form-control" name="lastName" required>
                    </div>
                    <div class="form-group">
                        <label>Adres:</label>
                        <input type="text" class="form-control" name="address" required>
                    </div>
                    <div class="form-group">
                        <label>Kod Pocztowy:</label>
                        <input type="text" class="form-control" name="postCode" required>
                    </div>
                    <div class="form-group">
                        <label>Miasto:</label>
                        <input type="text" class="form-control" name="city" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Zamów</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Stopka -->
    <footer th:replace="fragments/footer::ShopFooter"></footer>

    <!-- Skrypty Bootstrap (jQuery i Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
